<flynt-component name="HeroImageCta" class="componentSpacing {{- options.componentClasses ? ' ' ~ options.componentClasses -}}" {{ options.componentId ? 'id="' ~ options.componentId ~ '"' }} {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <div class="backgroundWrapper">
    <video class="video" width="640" height="640" aria-hidden="true" autoplay muted loop poster="{{ backgroundImage.src|resizeDynamic(768)|towebp }}">
      <source src="{{ backgroundVideo }}" type="video/mp4">
    </video>
    {% if backgroundOverlays %}
      {% for overlay in backgroundOverlays %}
        <div class="overlay-{{ overlay }}"></div>
      {% endfor %}
    {% endif %}
  </div>
	<div class="container">
    <div class="intro">
      <p class="intro-eyebrow">{{ eyebrow }}</p>
      {% if headline.tag == 'h1' %}
        <h1 class="{{ headline.type }} intro-headline">{{ headline.text }}</h1>
      {% else %}
        <h2 class="{{ headline.type }} intro-headline">{{ headline.text }}</h2>
      {% endif %}
      {% if ctas %}
        <div class="groupContainer">
          {% for cta in ctas %}
            <a href="{{ cta.button.link.url }}" class="intro-cta button button--{{ cta.button.variant }}" target="{{ cta.button.link.target }}">{{ cta.button.link.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
	</div>
  {% if lightboxVideo %}
    <div class="container container--playButton">
      <a href="{{ lightboxVideo }}" class="playButton video--playInModal" target="_blank" aria-label="Play video">Play video</a>
    </div>
  {% endif %}
</flynt-component>
