<flynt-component name="BlockThreeColContent" load:on="visible" class="componentSpacing {{- options.componentClasses ? ' ' ~ options.componentClasses -}}" {{ options.componentId ? 'id="' ~ options.componentId ~ '"' }} {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} {{ backgroundOverlays ? 'data-overlay="grid"'}} >
  <div class="container">
    <div class="intro">
      {% if eyebrow %}
      <div class="intro">
        <span class="intro-eyebrow">{{ eyebrow }}</span>
      </div>
      {% endif %}
      {% if headline %}
      <div class="intro">
        <h3>{{ headline }}</h3>
      </div>
      {% endif %}
      {% if description %}
      <p class="intro-blurb">{{ description }}</p>
      {% endif %}
    </div>
    {% if colThreeItems %}
    <div class="features">
      <span class="art art--arrow"></span>
      {% for item in colThreeItems %}
      <div class="feature">
        {% if item.link.url %}
        <a href="{{ item.link.url }}" {{ item.link.target ? 'target="' ~ item.link.target ~ '"' }}>
          {% endif %}
          {% if item.icon.src %}
          <div class="icon-wrap">
            <img src="{{ item.icon.src }}" width="{{ item.icon.width }}" height="{{ item.icon.height }}" alt="{{ item.icon.alt }}">
          </div>
          {% endif %}
          {% if item.title %}
          <h2 class="h4">{{ item.title }}</h2>
          {% endif %}
          {% if item.blurb %}
          <p>{{ item.blurb }}</p>
          {% endif %}
          {% if item.link.url %}
        </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</flynt-component>