<flynt-component name="TabsWithContent" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	{# <script type="application/json">{{ jsonData|json_encode }}</script> #}
	<div class="container">
		<div class="intro">
			<h3>Our services.</h3>
		</div>
		<div class="tabs-with-content-items">
			<div class="tabs-list">
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Brand strategy</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Website design</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Motion graphics</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Creative services</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Digital strategy</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Web development</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Website design</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>UX/UI design</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Digital marketing</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Support subscriptions</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tabs-with-content-content">
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
		</div>
	</div>
</flynt-component>
