<flynt-component name="SliderPosts" load:on="visible" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	{# <script type="application/json">{{ jsonData|json_encode }}</script> #}
	<div class="container">
		<div class="content">
      {% if headline %}
        <div class="intro">
          <h3>{{ headline }}</h3>
          {% if blurb %}
            {{ blurb }}
          {% endif %}
          {% if ctas %}
            <div class="groupContainer">
              {% for cta in ctas %}
                {% if cta.link.title %}
                  <a href="{{ cta.link.url }}" class="button" target="{{ cta.link.target }}">{{ cta.link.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
			<div class="posts-outer slider swiper" data-ref="slider">
				<div class="posts swiper-wrapper">
					<div class="post-outer swiper-slide">
						<article class="post" data-theme="dark">
							<picture class="post-image">
								<img class="lazyload" src="{{ theme.link }}/Components/SliderPosts/Assets/pattern-wavy-blue.webp" width="570" height="540" alt="Post Image">
							</picture>
							<div class="post-content boxPadding">
								<h4 class="text-white">Google Analytics 4 is Coming. Is Your B2B Ready?</h4>
								<p class="body-default text-white mt-4 mt-lg-5">Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.</p>
								<a href="#" class="button button--text" data-cursor-expand>Read more</a>
							</div>
						</article>
					</div>
					<div class="post-outer swiper-slide">
						<article class="post" data-theme="dark">
							<picture class="post-image">
								<img class="lazyload" src="{{ theme.link }}/Components/SliderPosts/Assets/pattern-circle-pink.webp" width="570" height="540" alt="Post Image">
							</picture>
							<div class="post-content boxPadding">
								<h4 class="text-white">Google Analytics 4 is Coming. Is Your B2B Ready?</h4>
								<p class="body-default text-white mt-4 mt-lg-5">Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.</p>
								<div class="buttons">
									<a href="#" class="button button--text" data-cursor-expand>Read more</a>
								</div>
							</div>
						</article>
					</div>
					<div class="post-outer swiper-slide">
						<article class="post" data-theme="dark">
							<picture class="post-image">
								<img class="lazyload" src="{{ theme.link }}/Components/SliderPosts/Assets/pattern-wavy-blue.webp" width="570" height="540" alt="Post Image">
							</picture>
							<div class="post-content boxPadding">
								<h4 class="text-white">Google Analytics 4 is Coming. Is Your B2B Ready?</h4>
								<p class="body-default text-white mt-4 mt-lg-5">Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.</p>
								<div class="buttons">
									<a href="#" class="button button--text" data-cursor-expand>Read more</a>
								</div>
							</div>
						</article>
					</div>
					<div class="post-outer swiper-slide">
						<article class="post" data-theme="dark">
							<picture class="post-image">
								<img class="lazyload" src="{{ theme.link }}/Components/SliderPosts/Assets/pattern-circle-pink.webp" width="570" height="540" alt="Post Image">
							</picture>
							<div class="post-content boxPadding">
								<h4 class="text-white">Google Analytics 4 is Coming. Is Your B2B Ready?</h4>
								<p class="body-default text-white mt-4 mt-lg-5">Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.</p>
								<div class="buttons">
									<a href="#" class="button button--text" data-cursor-expand>Read more</a>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="swiper-pagination" data-ref="pagination"></div>
				<div class="swiper-button-prev" data-ref="prev"></div>
				<div class="swiper-button-next" data-ref="next"></div>
			</div>
		</div>
		<div class="content content--logos row align-items-center mt-15 mt-lg-36">
      {% if logos.title %}
        <div class="logos-heading">
          <h3>{{ logos.title }}</h3>
        </div>
      {% endif %}
      {% if logos.list %}
			<div class="logos">
				<ul class="logos-list">
          {% for logo in logos.list %}
            <li class="logos-item">
              <div class="logo">
                {% if logo.image %}
                  <img class="logo-image lazyload" src="{{ logo.image.src }}" width="{{ logo.image.width }}" height="{{ logo.image.height }}" alt="{{ logo.image.alt }}">
                {% endif %}
              </div>
            </li>
            {# <li class="logos-item">
              <div class="logo">
                <img class="logo-image lazyload" src="{{ theme.link }}/Components/SliderPosts/Assets/logo-medium.svg" width="153" height="47" alt="Logo">
              </div>
            </li>
            <li class="logos-item">
              <div class="logo">
                <img class="logo-image lazyload" src="{{ theme.link }}/Components/SliderPosts/Assets/logo-logoipsum.svg" width="153" height="47" alt="Logo">
              </div>
            </li>
            <li class="logos-item">
              <div class="logo">
                <img class="logo-image lazyload" src="{{ theme.link }}/Components/SliderPosts/Assets/logo-hyperbest.svg" width="153" height="47" alt="Logo">
              </div>
            </li> #}
          {% endfor %}
				</ul>
			</div>
      {% endif %}
		</div>
	</div>
</flynt-component>
